$footerHeight: 60px !default;

body {
   margin-bottom: $footerHeight;    /* Margin bottom by footer height */
}

.footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: $footerHeight;           /* Set the fixed height of the footer here */
   line-height: $footerHeight;      /* Vertically center the text there */
   background-color: #f5f5f5;
}


h2 {
   color: lighten(red,25%);
}
