
@{
    ViewData["Title"] = "Home";
}
<div class="row">
    <div class="col-sm-8"><h2>Index</h2></div>
    <div class="col-sm-4"></div>
    
</div>
<div class="row">
    <div class="col-sm">
        <div id="fillthis" data-toggle="tooltip" title="Hooray!"></div>
    </div>


    <div class="col-sm">
        <div id="fillthiswithes6lib" data-toggle="tooltip" data-placement="top"  title="Hooray on Top! for fillthiswithes6lib"></div>
        <div id="fillThisWithTSlib" data-toggle="tooltip" data-placement="right"  title="Hooray on Right! for fillThisWithTSlib"></div>
    </div>



    <div class="col-sm">
        <div id="fillthiswithjquery"></div>
    </div>



</div>

<div class="row">
    <div class="col-sm">
        <a class="btn btn-outline-danger" href="#">
            <i class="fas fa-user "></i>
        </a>
        @*<span class="fa-stack fa-2x">
            <i class="fas fa-camera fa-stack-1x"></i>

        </span>*@
    </div>

</div>
<script src="~/dist/bundle.js"></script>
@*<script src="~/js/app.js"></script>*@

